.DS_Store

# Python
backend/.venv
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Node
frontend/node_modules
frontend/.next
frontend/tsconfig.tsbuildinfo

# Env
.env
backend/.env
backend/.env.local
frontend/.env.local
